// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use 'sass:map';

body {
  background-color: #fcfbf4;
}

::selection {
  background: #ebb01c;
  color: #fcfbf4;
}
