// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use 'sass:map';

body {
  background: #161614;

  // color: #f8f9fa;
}

::selection {
  background: #b6cf4f;
  color: #f8f9fa;
}

// @media (prefers-color-scheme: dark) {
// }
