VITE_APP_NAME="FrontEnd Boilerplate"



# Development
VITE_MODE=development

VITE_PUBLIC_PATH=''
VITE_API_BASE_URL='/api'
VITE_API_SERVER_URL='https://staging-api.yourdomain.com'

VITE_GOOGLE_CLIENT_ID=''
VITE_GOOGLE_CLIENT_SECRET=''

# Production
VITE_MODE=production

VITE_PUBLIC_PATH=''
VITE_API_BASE_URL='https://api.yourdomain.com/api'
VITE_API_SERVER_URL='https://api.yourdomain.com'