VITE_APP_NAME="FrontEnd Boilerplate"



# Development
NODE_ENV='development'

VITE_PUBLIC_PATH=''
VITE_API_BASE_URL='/api'
VITE_API_SERVER_URL='https://staging-api.yourdomain.com'

# Production
NODE_ENV='production'

VITE_PUBLIC_PATH=''
VITE_API_BASE_URL='https://api.yourdomain.com/api'
VITE_API_SERVER_URL='https://api.yourdomain.com'