{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "selector-class-pattern": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-alphabetical-order": true,
    "keyframes-name-pattern": [
      "^[a-z][a-zA-Z0-9]*$",
      {
        "message": "The animation name must use the camelCase naming convention."
      }
    ]
  }
}
