.navigation {
  background: abst.get-color('background', 'dark');
  box-shadow: 0 4px 16px 0 rgb(10 10 10 / 4%);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 9998;
}

.wrapper {
  @include abst.flex(row, space-between, center);
}

.wrapper__auth {
  @include abst.flex(row, null, null, 16px);
}

.navbar__main {
  padding: 5px 0;
  @include abst.flex(row, null, null, 16px, nowrap);

  @media (width <= 768px) {
    display: none;
  }
}

.logo {
  color: abst.get-color('text', 'accent');
  font-size: abst.$text-2xl;

  &:hover {
    text-decoration: none;
  }
  @include abst.font('primary', 700, normal);
  @include abst.font('primary', 700, normal);
}

.link__auth {
  background: transparent;
  border: 0;
  color: abst.get-color('text', 'inverse');
}

.link {
  color: abst.get-color('text', 'inverse');
  font-size: abst.$text-md;

  &:hover {
    color: abst.get-color('text', 'accent');
  }
  @include abst.font('primary', 300, normal);
}
